[2015-10-27 22:25] elserj opened #1 "Japanese not displayed properly in term page"
The Japanese synonyms show up properly on the main page (http://dev.planteome.org/amigo/search/ontology), but not on the term page (http://dev.planteome.org/amigo/term/PO:0025034).  They do show up properly if the user changes the encoding setting on their browser.

[2015-10-27 23:09] kltm commented on #1
I've referenced this ticket as an upstream one in geneontology/amigo#260, and will take no further action here. I've tagged on @elserj upstream, so I suggest watching that one and re-merging after it's closed.

(BTW, as I'm not part of any team that has access privs to this repo, I cannot do things like close myself, which is fine, but FYI.)

(Also, for things that are affecting core issues, like

[2015-10-28 00:49] #1 closed, assigned to kltm

[2015-11-10 18:22] cmungall opened #2 "Customize look and feel of Planteome AmiGO instance"

[2015-11-11 23:51] elserj opened #3 "Add summary line to bottom of term detail page to list out annotation functions"
Add summary line to bottom of term detail page to list out annotation functions

[2015-12-18 15:14] elserj commented on #2
Mostly done in commits 36e8d1af37a4f37d293419930436c58c8de829d9 3bed73542a81c758e0c40624290eee484b9ba3f8 590b8b68b8402df2bf5640c8445ff737fb736707 27a5dbb5b565b2a2138ef269b0f97c2de54be43c

Probably will be more changes, but these commits hit most of the big changes.  Closing for now and any new changes should be made as separate issues.

[2015-12-18 15:14] #2 closed, assigned to nobody

[2016-01-02 18:47] jaiswalp opened #4 "AmiGO 2: Term Details for some links"
http://dev.planteome.org/amigo/term/EO:0007359

Related
to all genes and gene products annotated to plant experimental condition.

replace 'genes and gene products' with 'annotated objects' in your templates.

Existing one is GO specific.

Pankaj

[2016-01-02 18:48] jaiswalp opened #5 "AmiGO 2: ISBN Xrefs"
http://dev.planteome.org/amigo/term/PO:0005849

Suggest directing the ISBN Xrefs to
http://www.isbnsearch.org/isbn/XXXXX

XXXXX replaced by the ISBN ID digits

e.g.
http://www.isbnsearch.org/isbn/0122151704

[2016-01-02 18:48] jaiswalp opened #6 "Planteome: Ontology GO Alt ID links"
http://dev.planteome.org/amigo/search/ontology

GO IDs in the Alt ID column on right link to GO website which does not return anything.

I suggest disabling this hyperlink. There is no need for that link since these IDs are coming from old terms that were merged to the new primary term.

We might have PO terms with Alt ID but did not check it.

[2016-01-02 18:49] jaiswalp opened #7 "Planteome: ontologies being loaded"
http://dev.planteome.org/amigo/search/ontology

May need Chris and Seth's help here.

I just looked on the types of ontologies being loaded...

suggest dropping
- quality (PATO) not sure if we need it here. If it is coming from cross products or helping Termgenie, I suggest for this release clean them out.
- ECO
- If we can import cassava ontology into TO as we showed a proof of concept in our wor

[2016-01-02 18:50] jaiswalp opened #8 "Planteome: Search cassava germplasm annotations"
http://dev.planteome.org/amigo/search/annotation?q=*:*&fq=assigned_by:%22marie-angelique_laporte%22&sfq=document_category:%22annotation%22

needs fixing the GAF annotation file.
- fill object name column. if no data available, replicate the info from object symbol column
- some direct annotation data shows up as TO ID vs others with TO term name. Not sure where the fault is. Whether it is so in th

[2016-01-02 18:50] jaiswalp opened #9 "AmiGO 2: Gene Product Xref to external source"
http://dev.planteome.org/amigo/gene_product/Ensembl_Plants:OS06G0275000

I think the synonym Ensembl_Plants, OS06G0275000should appear in Database section and hyperlink to external source... Gramene

[2016-01-02 18:51] jaiswalp opened #10 "AmiGO 2: Gene Product Details for Ensembl_Plants:AT4G38130"
http://dev.planteome.org/amigo/gene_product/Ensembl_Plants:AT4G38130

please drop the go-ortholog file for A. thaliana from loading.

[2016-01-03 01:14] cooperl09 commented on #8
I have modified the Cassava TO annotation file as follows:
I  copied the germplasm names to col 10: DB_Object_name, so that they will show up on the browser in the display and I also moved BMS_id values to DB_Object_Id (col2).

http://palea.cgrb.oregonstate.edu/viewsvn/associations/to-associations/TO_germplasm_cassava_genesys.assoc?view=markup

The reason there are a few TO:ids showing up in the "

[2016-01-03 17:49] elserj commented on #10
This was just a test load, I wasn't planning on loading it for the release.

But should I remove it from svn if we aren't going to use it?  That way I wouldn't have to manually remove it at release.

[2016-01-03 17:58] #4 closed, assigned to nobody

[2016-01-03 19:40] jaiswalp commented on #10
On 1/3/2016 9:49 AM, elserj wrote:

yes.

##

Pankaj Jaiswal, PhD
Associate Professor
Dept. of Botany and Plant Pathology
2082 Cordley Hall
Oregon State University
Corvallis, OR, 97331
USA

Ph.: +1-541-737-8471
Fax: +1-541-737-3573
email: jaiswalp@oregonstate.edu
Web: http://jaiswallab.cgrb.oregonstate.edu/

[2016-01-03 19:45] jaiswalp opened #11 "Asigned by Austin Meier"
http://dev.planteome.org/amigo/search/annotation

If you see on the left side facet 'assigned by'.. there are two different assigned by styles for 'Austin'. Please make them consistent.

[2016-01-04 18:41] cmungall commented on #5
We definitely want this in the core GO xrefs too

Do you distinguish ISBN10 from 13?

On 2 Jan 2016, at 10:48, Common Reference Ontologies for Plants wrote:

[2016-01-04 18:57] austinmeier commented on #11
Fixed

[2016-01-04 19:02] #11 closed, assigned to nobody

[2016-01-04 19:03] #10 closed, assigned to nobody

[2016-01-04 19:18] cooperl09 commented on #5
In the Plant Ontology, we linked all the ISBN#s to this site: http://openisbn.com/
This works for both the 10 and 13 digit numbers.

I suggest we use the same dbxref link, we can update in the GO xref file.

[2016-01-04 19:56] jaiswalp commented on #5
http://www.isbnsearch.org/isbn/XXXXX takes both ISBN-10 or -13

[2016-01-04 20:06] elserj commented on #5
I think I prefer the openisbn site as it looks less commercial.  It has more info about the actual book rather than just link to where the book can be bought.  Just my two cents.

[2016-01-04 20:09] cooperl09 commented on #5
Agreed.  See also this page on the PO wiki: http://wiki.plantontology.org/index.php/Refs_ISBN

[2016-01-04 20:14] jaiswalp commented on #5
go with it if you all like it..

[2016-01-07 06:04] jaiswalp opened #12 "replace gene ontology specific instance in search result template"
http://dev.planteome.org/amigo/medial_search?q=PO%3A0025470

IN THE SEARCH RESULTS 'ONTOLOGY' it says 'Gene Ontology....' in your template change it to 'Ontology.....' remove 'Gene'

[2016-01-07 06:05] jaiswalp commented on #12
also in the 'Link......' sections on top the search results, instead of 'genes....' say 'Bioentity...'

[2016-01-07 06:36] jaiswalp opened #13 "GR_gene Xref need fixing"
http://dev.planteome.org/amigo/gene_product/GR_gene:60333

looked at http://palea.cgrb.oregonstate.edu/viewsvn/associations/to-associations/to_Gene_association.assoc?revision=679&view=markup

actual object_ID is 'GR:0060141'
If it is used as above the link to Gramene would work
like

http://archive.gramene.org/db/genes/search_gene?acc=ID
e.g
http://archive.gramene.org/db/genes/search_gene?acc=GR:0

[2016-01-07 18:54] #12 closed, assigned to elserj

[2016-01-08 20:00] elserj commented on #13
Fixed by association svn commit 695.

[2016-01-08 20:00] #13 closed, assigned to elserj

[2016-01-09 04:49] jaiswalp opened #14 "putting search box on the homepage"
is there a way to put the search box we see on the right hand side on http://browser.planteome.org/amigo/search/annotation on the www.Planteome.org homepage

[2016-01-09 22:12] jaiswalp opened #15 "google analytics"
unless it is in place, can we put the Google  Analytic code integrated.

-pankaj

[2016-01-11 18:52] elserj commented on #15
Was already in place for drupal site, added google analytics id to amigo.yaml file and ran "gulp install" for planteome site.  Only done on browser.planteome.org as I don't believe it should be done on dev site, but can change if requested.  Change not made in commit as amigo.yaml is not in repo and id should be obfuscated.

[2016-01-11 18:52] #15 closed, assigned to nobody

[2016-01-12 00:21] elserj commented on #14
I have a test one up at http://planteome.org/node/97.  Let me know if you like it or want anything changed.  I based it off the old one on plantontology.org.

@cooperl09 should check it out as well.

[2016-01-12 00:28] elserj commented on #5
Fixed in geneontology/go-site@e8f74e893ac149dd1ef99d5b758cd4bd6741bc89

[2016-01-12 00:28] #5 closed, assigned to nobody

[2016-01-15 21:35] #8 closed, assigned to nobody

[2016-01-15 22:08] elserj commented on #6
Closed with upstream merge 0015a68c093d7925265e8387bbe5a770164d6de3

[2016-01-15 22:08] #6 closed, assigned to nobody

[2016-01-21 19:34] elserj commented on #14
Pankaj, Lol and I tweaked the new search up at http://planteome.org/node/97.  Can you check it out and let us know if we should make it the homepage?

Thanks,
Justin

[2016-01-21 23:14] jaiswalp commented on #14
Looking good. Do you think auto fill can be applied?

[2016-01-21 23:16] elserj commented on #14
Not really until we get a webservice built that has the functionality.  So, it is on the roadmap, but not really at this point.

[2016-01-21 23:34] jaiswalp commented on #14
I thought the APIs open up by default. In any way we need to bring it up on priority.

[2016-01-21 23:34] jaiswalp commented on #14
I meant the APIs

[2016-01-21 23:40] elserj commented on #14
Some of the APIs are available, but the ability of autofill is not available yet, from my understanding.  I originally asked Seth about the autofill and he indicated it wasn't really available yet outside of AmiGO, which we are here.  Preece, Chris, Seth and I are actually having a really long email conversation about adding the webservice stuff we want, and have a ticket in geneontology/amigo#292

[2016-01-21 23:49] preecej commented on #14
The aforementioned long API conversation has now been documented in
Github amigo issue 292.

Meeting to occur next week.
- j

On 01/21/2016 03:40 PM, elserj wrote:

[2016-01-22 20:12] elserj commented on #14
Changed drupal homepage to new search.

[2016-01-22 20:12] #14 closed, assigned to elserj

[2016-01-22 22:58] elserj commented on #3
@jaiswalp I created this ticket during the workshop but now I'm confusing myself about what you wanted here.  Term detail pages are normally for ontology terms, but I wrote that you want "annotation functions" displayed.  I'm not sure what this means.  Can you clarify for me?

[2016-04-25 20:54] jaiswalp opened #16 "Amigo browse tree"
http://dev.planteome.org/amigo/dd_browse

May I suggest limiting the tree to IS-A only or have a selection of relationship_types to choose either configured by the admin or options available to users to select.

In a simple way I suggest starting only with IS-A and build on top of that.
@cmungall @elserj @kltm @cooperl09

[2016-04-25 21:12] cmungall commented on #16
I suggest:
- isa/subclass
- part-of
- occurs-in
- regulates (only visible when browsing GO)

[2016-07-25 07:53] marieALaporte opened #17 "incorrect PO links on dev"
PO links redirect to the old plant ontology browser on the planteome dev website (term ID column).
Here an example: http://dev.planteome.org/amigo/search/ontology?q=fruit

[2016-07-25 15:24] cmungall commented on #17
Hmm, the Term column seems to stay within dev, but the Term ID column goes to GO for GO IDs, presumably you want to see GO from within dev.planteome here

[2016-07-25 17:09] elserj commented on #17
I've been trying to track this down and remind myself what is going on here.

I think we added the "Term ID" column a while back before our January release.  At the time, it was just a text with the ontological term ID.  Since then, @kltm did some work to allow the alternate ID column to work as it was failing on some GO terms (https://github.com/geneontology/amigo/issues/289).  I was asked to mak

[2016-07-25 17:15] cooperl09 commented on #17
I agree, the terms should link to the appropriate Planteome site, not to the old PO site.
Larger question is do we want the GO terms to resolve to GO within dev.planteome, or to the GO AmiGO site.  I prefer to link them to the  appropriate Planteome site as well.

[2016-07-25 17:16] cooperl09 commented on #17
The TO ids should be links as well.

[2016-07-25 17:32] elserj commented on #17
The URL in the "Term" column already does what you are requesting.  IIRC, you asked for the "Term ID" to link to the source for the ontology, ie geneontology, CheBi.

I believe the reason TO ids don't link out is because they don't have a dbxref at all, only TO_GIT is a dbxref.

My suggestion would be to either go back to non-URL text in this column, or change the dbxrefs.

[2016-07-25 21:51] kltm commented on #17
@elserj
We could have a quick call to touch bases, etc. too if it would help.
Just to refresh, there are three main ways to control links and linking behaviour:
- dbxrefs.yaml: this is the gross fall-through for when things do not not otherwise trigger special treatment; it is downloaded and compiled at install time
- linker.js: as part of the amigo2-instance-data, the purpose of this package is t

[2016-08-05 21:01] elserj opened #18 "Annotated images in AmiGO"
Wish list for image annotation work.

Blocked by upstream geneontology/amigo#368.  More info at that issue tracker.

[2016-08-22 22:56] elserj commented on #17
@kltm, after some discussion about this, we'd like to change it so that the "Term ID" column doesn't link out at all.  We already have internal links in the "Term" column.  Seems confusing to have other external links.  I don't recall if I did something to make this change, or if this is something that we pulled from master, but it isn't like this on our older version of AmiGO that the live site i

[2016-08-22 23:26] kltm commented on #17
I would suggest a local handler that is a combination of the first two columns there, with the link aiming internally.
Or, you could just write a local handler that skips making a link out. Or one that links internally for you (maybe by adding the GO to the list of internal links). There are a few options here.
Start maybe with making "GO" internal, and then maybe looking at javascript/npm/amigo2-

[2016-08-22 23:39] kltm commented on #17
Or, as mentioned above, simply goose the linker to make GO terms internal to planteome. That could either be done with code or cheaped by changing the xrefs data before compile time.

[2016-08-23 00:02] cmungall commented on #17
IMHO, I would just make this act like the GO amigo

http://amigo.geneontology.org/amigo/search/ontology?q=fruit

i.e. one column, internally linked.

[2016-08-23 00:05] kltm commented on #17
...but where's the fun in _that_.
IIRC, I think that @cooperl09 mentioned that curators wanted to see the IDs in this display as they are used to working with raw IDs...?

[2016-08-23 00:09] elserj commented on #17
Yes, they did ask for that.  I even found the commit (https://github.com/Planteome/amigo/commit/dada78e80b64fb2518ea1a6c4f44047df2ad6314) where I added it.  Even mentioned that it shouldn't link anywhere.  I think it did at that point and I'm having trouble figuring out what changed to make it so that it does link out now.

[2016-08-23 00:10] elserj commented on #17
Whoops, wrong commit:
https://github.com/Planteome/amigo/commit/dada78e80b64fb2518ea1a6c4f44047df2ad6314

[2016-08-23 00:12] cmungall commented on #17
So there will be a separate config for dev and production?

It's great that PO-internal uses AmiGO so much, but I think we have to be careful here. We in planteome should be doing more to reach out to our users, and we should optimize the experience for users and not internal as much as possible

[2016-08-23 00:14] kltm commented on #17
It's also possible to add an "internal" ontology view to the system for curators, although that is probably too much effort.

[2016-08-24 19:39] elserj commented on #17
After some discussion with @kltm, this was fixed in commit https://github.com/Planteome/amigo/commit/7e35fc1e9031cdb9169ab8b44a72f5478ffe85ce.  The file javascript/npm/amigo2-instance-data/generation-templates/dispatch.js.tmpl was the one that needed to be modified.

[2016-08-24 19:39] #17 closed, assigned to nobody

[2016-08-24 20:20] kltm commented on #17
Just to have this on record, in case we need to search/link to it again, I'll paste in my explanation after I realized that I had completely misdiagnosed what was going on.

[code]

[2016-08-31 13:06] marieALaporte opened #19 "PO links in TO definition source go to plantontology.org"
As an example, the PO link in the definition (source) of this TO term goes to the plantontology.org website:
http://dev.planteome.org/amigo/term/TO:0000056

[2016-09-02 22:32] elserj commented on #19
@kltm , I thought that if PO was defined in amigo.yaml (in AMIGO_TERM_REGEXP), that this link should stay internal?  Or is the only way to keep this on planteome.org is to change the xref in dbxrefs.yaml?

[2016-09-06 22:00] kltm commented on #19
<strike>Well, two ways to do it, with slightly different effects. You'd probably want it in amigo.yaml, with the compiled version making its way to the JS data load.</strike>

<strike>AMIGO_TERM_REGEXP helps trigger the internal/external term effects (different highlighting and blurb, etc.), as well as what category an id falls into in some widgets, like the results table. In other situations, it

[2016-09-07 22:48] kltm commented on #19
Okay, my reading comprehension is not what is used to be--my answer was much more related to the dynamic JS bits and the search results table.

For "definition" in the summary section, that is exclusively controlled by db-xrefs.yaml, as this is for the canonical location of the identifier.

One _could_ rewrite the template to redirect locally based on AMIGO_TERM_REGEXP, but that would not be the b

[2016-09-08 22:03] elserj commented on #19
Fixed with commit https://github.com/geneontology/go-site/commit/97bd962e3608e04b315466ff379b79179cc494c6 that changed the dbxref from old PO site to planteome.

[2016-09-08 22:03] #19 closed, assigned to nobody

[2016-09-08 22:08] elserj commented on #9
EnsemblPlants already was an xref, but we had mistakenly put in an underscore.  Taking out the underscore does cause these hyperlinks to go out to ensemblgenomes, but not all species we have are there so many return a "no results found" page.  Unless we change from using EnsemblPlants as the db source in the gaf files, not much we can do.

We can change them to something else, but would require a

[2016-09-08 22:08] #9 closed, assigned to nobody

[2016-09-30 21:22] cooperl09 opened #20 "Relations are not being recognized and displayed in AmiGO 2.0"
_From @cooperl09 on January 17, 2016 1:59_

Currently, there are a limited number of relations being recognized by AmiGO 2.0:
is_a
part_of
occurs_in
In the Plant Ontology file, we have a number of important relations that are missing in the browser view:

Relations with examples:

[Typedef]
id: adjacent_to
name: adjacent_to
xref: RO:0002220

e.g. _id: PO:0025382!
name: substomatal cavity
relations

[2016-09-30 21:22] cooperl09 commented on #20
_From @cmungall on January 18, 2016 18:24_

@kltm @hditeze I can't find the ticket on the main tracker right now but I know we've discussed this a few times. We only want to filter relationships for _ancestry_. For direct relationships it's very useful to see and traverse over any relationship types. We really need this in the main amigo. I think this should be relatively straightforward to handle

[2016-09-30 21:22] cooperl09 commented on #20
_From @cmungall on January 18, 2016 18:28_

Here: https://github.com/geneontology/amigo/issues/220

[2016-09-30 21:22] cooperl09 commented on #20
_From @marieALaporte on January 26, 2016 16:22_

The CO properties method_of, scale_of and variable_of don't show up neither on the browser.

[2016-09-30 21:22] cooperl09 commented on #20
_From @cmungall on February 18, 2016 1:12_

This is already covered in the main amigo ticket, but if we want a test case that is plant specific, see how anther looks in OLS:

http://www.ebi.ac.uk/ols/beta/ontologies/po/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPO_0009066

I think this gets it right (never mind details about whether a denormalized tree view is the best way of showing thing

[2016-09-30 21:34] cooperl09 opened #21 "Relations are not being recognized and displayed in AmiGO 2.0"
_From @cooperl09 on January 17, 2016 1:59_

Currently, there are a limited number of relations being recognized by AmiGO 2.0:
is_a
part_of
occurs_in
In the Plant Ontology file, we have a number of important relations that are missing in the browser view:

Relations with examples:

[Typedef]
id: adjacent_to
name: adjacent_to
xref: RO:0002220

e.g. _id: PO:0025382!
name: substomatal cavity
relations

[2016-09-30 21:34] cooperl09 commented on #21
_From @cmungall on January 18, 2016 18:24_

@kltm @hditeze I can't find the ticket on the main tracker right now but I know we've discussed this a few times. We only want to filter relationships for _ancestry_. For direct relationships it's very useful to see and traverse over any relationship types. We really need this in the main amigo. I think this should be relatively straightforward to handle

[2016-09-30 21:34] cooperl09 commented on #21
_From @cmungall on January 18, 2016 18:28_

Here: https://github.com/geneontology/amigo/issues/220

[2016-09-30 21:34] cooperl09 commented on #21
_From @marieALaporte on January 26, 2016 16:22_

The CO properties method_of, scale_of and variable_of don't show up neither on the browser.

[2016-09-30 21:34] cooperl09 commented on #21
_From @cmungall on February 18, 2016 1:12_

This is already covered in the main amigo ticket, but if we want a test case that is plant specific, see how anther looks in OLS:

http://www.ebi.ac.uk/ols/beta/ontologies/po/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPO_0009066

I think this gets it right (never mind details about whether a denormalized tree view is the best way of showing thing

[2016-09-30 21:34] cooperl09 commented on #21
This issue was moved to Planteome/amigo#20

[2016-09-30 21:35] cooperl09 opened #22 "links to wikipedia are not working"
_From @marieALaporte on February 8, 2016 14:47_

The links to Wikipedia are not working. See the following examples:
- Incorrect links in PATO:

http://browser.planteome.org/amigo/term/PATO:0001352
http://browser.planteome.org/amigo/term/PATO:0001351
- Not recognised as links in TO:

http://browser.planteome.org/amigo/term/TO:0012001
http://browser.planteome.org/amigo/term/TO:0000523

_Copied from

[2016-09-30 21:35] cooperl09 commented on #22
_From @austinmeier on February 8, 2016 19:14_

The wikipedia stanza in the DBXrefs.yaml looks like this:
- database: Wikipedia
  name: Wikipedia
  generic_urls:
  - http://en.wikipedia.org/
    entity_types:
  - type_name: entity
    type_id: BET:0000000
    url_syntax: http://en.wikipedia.org/wiki/[example_id]
    example_id: Wikipedia:Endoplasmic_reticulum
    example_url: http://en.wikipedia.or

[2016-09-30 21:35] cooperl09 commented on #22
_From @elserj on February 8, 2016 20:55_

The problem is with the xrefs as they are written in the ontology files.  The dbxref is the correct syntax as pointed out by @austinmeier.

The 2 links pointed out in the TO seem to be the only references to wikipedia in the file, so those are trivial to fix.  There appear to be 132 in PATO, although some of those seem to be correct, some are image links,

[2016-09-30 21:35] cooperl09 commented on #22
fixed the Dbxref to Wikipedia on the following terms:
 [Term]
 id: TO:0000522
 name: stomatal conductance
+def: "It is a numerical measure of the maximum rate of passage of either water vapour or carbon dioxide through the stomata." [GR:pj, Wikipedia:Stomatal_conductance]

 [Term]
 id: TO:0000523
 name: stomatal resistance
+def: "Stomatal resistance (or its inverse, stomatal conductance) can there

[2016-09-30 21:35] cooperl09 commented on #22
_From @cmungall on February 8, 2016 23:47_

On 8 Feb 2016, at 12:42, Austin Meier wrote:

Yes Wikipedia:Linear_density

We do it in this way in uberon, but we pre-expand to complete URLs for
the OWL edition. This will be the more common pattern in future

[2016-09-30 21:36] cooperl09 commented on #22
fixed, closing

[2016-09-30 21:36] #22 closed, assigned to nobody

[2016-09-30 21:37] cooperl09 opened #23 "Synonym scopes are not being displayed- AmiGO 2.0"
_From @cooperl09 on December 12, 2015 23:51_

Synonym types are not being displayed in the AmiGO 2.0 browser.  For example see fruit: http://dev.planteome.org/amigo/term/PO:0009001

The types of synonyms are listed here:  http://wiki.plantontology.org/index.php/PO_Developers_Guide#Synonyms

For example:
narrow: accessory fruit
narrow: achene
narrow: acorn
narrow: aggregate fruit
narrow: akene
narr

[2016-09-30 21:37] cooperl09 commented on #23
This is still not working on the live site:
for example see fruit: http://browser.planteome.org/amigo/term/PO:0009001
All the synonyms are shown together as one type.

[2016-09-30 21:39] cooperl09 opened #24 "Links to GitHub Issue trackers are not working"
_From @cooperl09 on October 15, 2015 17:51_

Links to GitHub Issue trackers (ie PO_GIT; TO_GIT; EO_GIT; PSO_GIT)  are not working.  They show up in the "mappings" tab.

_Copied from original issue: Planteome/planteome-ontology-browsers#15_

[2016-09-30 21:39] cooperl09 commented on #24
_From @cmungall on October 15, 2015 22:44_

I recommend using the URLs directly

On 15 Oct 2015, at 10:51, Laurel Cooper wrote:

[2016-09-30 21:39] cooperl09 commented on #24
Could you please explain what you mean by this.

[2016-09-30 21:39] cooperl09 commented on #24
_From @cmungall on October 15, 2015 22:59_

e.g.

[code]

[2016-09-30 21:39] cooperl09 commented on #24
fixed, closing

[2016-09-30 21:39] #24 closed, assigned to nobody

[2016-09-30 21:43] cooperl09 opened #25 "Cannot search for EO or PDO terms by ID #"
_From @seymourmegan on August 31, 2015 17:44_

We are unable to look up EO or PDO terms by ID # in the TO,EO, PSO Dev browser.
http://palea.cgrb.oregonstate.edu/trait_ontology/cgi-bin/trait_amigo/go.cgi

For example:
When I search for PDO:0000176, the dev browser returns nothing.
Sometimes it will find the PDO or EO ID in a definition and return that, but otherwise does not work.
Since this was or

[2016-09-30 21:44] cooperl09 commented on #25
working, fixed

[2016-09-30 21:44] #25 closed, assigned to elserj

[2016-09-30 21:47] cooperl09 opened #26 "Issues with filters on the Ontology Search page"
_From @cooperl09 on October 15, 2015 16:54_

User filters are not retained if you click on an ontology term, and then go back to the main page from it.

See: https://github.com/geneontology/amigo/issues/50

_Copied from original issue: Planteome/planteome-ontology-browsers#13_

[2016-09-30 21:47] cooperl09 commented on #26
You cannot select more than one Ontology Source at a time.

[2016-09-30 21:47] cmungall commented on #20
There are multiple things in this ticket. The main thing is that amigo is fixed, it will show all relationship types in neighborhood, e.g. http://dev.planteome.org/amigo/term/PO:0025382

everything else is configuration. We'll open separate tickets

[2016-09-30 21:47] #20 closed, assigned to nobody

[2016-12-02 16:42] phismith commented on #16
-- when I browse PO I get things like this

http://browser.planteome.org/amigo/term/PO:0009011#display-lineage-tab

Is there any way I can see just the PO plant anatomical structures?

Also how do I get an indication what the edges in graphs like this mean:

http://browser.planteome.org/visualize?inline=false&term_data=PO%3A0006334&format=svg&mode=amigo&term_data_type=string

(earlier we had label

[2016-12-02 16:47] cmungall commented on #16
It can be useful to traverse to a trait from the relevant structure; maybe we could make this configurable? What do others think?

Edge labels are a good idea, not sure why we do't have them

[2016-12-02 16:57] cmungall commented on #16
(edited comment, which was meant for a different tracker, totally unrelated)

[2016-12-03 00:15] kltm commented on #16
As a note, the graphviz version on the backend makes the edge labels look horrible, and the library is difficult to work with, so they were removed some time ago. Last work there was https://github.com/geneontology/amigo/issues/216.

[2016-12-03 00:36] cmungall commented on #16
I know the kids use D3 now but I have found GraphViz to be simple, expressive and powerful.

should be easy to slot this in
https://github.com/cmungall/obographviz

[2016-12-27 21:09] cooperl09 opened #27 "Issue with curator definition DBX-Ref for Gramene curators"
Notice a weird issue- where we have Gramene curators names in the definition DBX-Ref, Amigo is trying to create a link, but it goes nowhere.  This is because we have the GR: Xref in our annotations.
Suggest we change the curator dbxref to Gramene: from GR: to avoid this issue.

examples:
GR:Pankaj_Jaiswal
GR:Anuradha_Pujar
GR:Chih-Wei_Tung

[2017-02-01 18:09] austinmeier opened #28 "allow/convert spaces inside relationships in column 16?"
@cmungall is there a way to allow spaces in column 16?

We have lots of germplasm annotations that receive the relationship: "has_phenotype_score()" And the string that get's pulled from the Samara scrape file often has spaces in it.  For example:

"Culm_diameter_(mm)_of_basal_internode_at_repro.=6"

Currently I am simply substituting spaces, and other illegal characters for "_".  It works, but it

[2017-02-01 21:51] cmungall commented on #28
No

You're already abusing poor col16 enough!

This is all solved if we make sure there is an ontology providing labels (and ideally defs) for all relations used.

The underlying storage in amigo actually uses the RO ID. The c16 format is already slightly hacky in that it allows the use of what are called 'shorthand' IDs. This is exactly analogous to what you see in obo files:

[code]

you'll noti

[2017-02-01 22:41] austinmeier commented on #28
Oh I've been abusing column 16 since I got started on this GAF business!!

We intentionally added the "has_phenotype_value()" relationship in the TO so that we could have it displayed, but due to the insane variation in "values" that we are pulling between Samara scraping GRIN, and IRRI's GRIMS database, that using a pre-composed pattern such as the one you've suggested becomes rather labor intens

[2017-03-06 22:09] cooperl09 commented on #27
This was fixed in February 2017 Release 2.0

[2017-03-06 22:09] #27 closed, assigned to nobody

[2017-03-11 00:28] cooperl09 opened #29 "Synonym dbxrefs are not being displayed"
In the plant structure development stage (PO:0009012) branch of the PO we have a large number of mappings from our stage terms to terms in other ontologies and vocabularies.
The corresponding mappings (eg GRO:ID) do not show up in the browser and you cannot search for them.

For example:
[Term]
id: PO:0007022
name: seed imbibition stage
namespace: plant_structure_development_stage
def: "A seed ger

[2017-03-11 01:06] cmungall commented on #29
The solution outlined for synonym scopes/types here:

https://github.com/geneontology/amigo/issues/290#issuecomment-243309763

will also work for xrefs on synonyms

[2017-05-30 23:00] nathandunn opened #30 "broken image links on neighborhood tab"
http://browser.planteome.org/amigo/term/PO:0025395#display-lineage-tab

On the neighborhoods tab.

Getting these 404s:

http://browser.planteome.org/static/images/BFO:0000050.gif
http://browser.planteome.org/static/images/RO:0000052.gif

[2017-05-30 23:26] elserj commented on #30
Fixed by symlinking to part_of.gif and related_to.gif, although the related_to.gif is just a blank square, so it still looks like there isn't one there.  @cooperl09, maybe we should replace it?  You can look at it with the http://browser.planteome.org/static/images/RO:0000052.gif link.

[2017-06-06 22:56] cooperl09 commented on #30
Actually, RO:0000052 is not related_to but _inheres_in._
 http://purl.obolibrary.org/obo/RO_0000052
I am not sure where to find the image for it.

[2017-10-25 19:12] jaiswalp opened #31 "Working with ECO and associated annotations"
Looking for solutions requested for AmiGO
https://github.com/geneontology/amigo/issues/450

How to associate annotations with ECO terms and search them.

[2017-10-27 02:18] elserj opened #32 "Base_Statistics - add new aspects to "annotations by aspect/species by evidence""
Trying to add non-GO aspects to "base_statistics" graph for annotations by aspect, and it doesn't seem to be as easy as I hoped.

I've modified the javascript/web/BaseStatistics.js file where I think it needs to be, and they show up on the axis, but no annotations are actually picked up.  I assume I need to make some other change to get it to recognize the new aspects, but not sure where it would

[2017-10-27 02:21] elserj commented on #32
Changes also need to be made to scripts/amigo-create-base-stats-cache.js in the aspect function.

Needs some more testing, I'll update with the commit after.

[2017-10-27 20:32] elserj commented on #32
@kltm
I'm having trouble figuring out how the x-axis elements are chosen.  I can see from the changes I've made on dev (http://dev.planteome.org/amigo/base_statistics#go-annotations-by-aspect-species-by-evidence) that I can get the PO anatomy ones I've loaded to display, but for some reason the cellular component ones for GO don't display.  It appears to be an issue where only so many choices are

[2017-10-27 21:03] kltm commented on #32
The JS API is pretty good at plot.ly, if you haven't dived in yet.

From experience, that particular graph is much more "number" oriented, so it will happily drop x-axis labels if they are too dense--you can see them if you zoom in. You can either force the labels, shrink them, etc...
Of course, at that point, you are fighting it, which can cause knock-on issues. Getting the graphs "right" can be

[2017-10-27 21:58] elserj commented on #32
I wrote up a nice long thing explaining that I still had a problem, but it looks like my problem was that IMP and IEA annotations do not show up on that plot.  Guess I can work on figuring out how to add them as a new category of evidence, or should they be included in one of the categories already?  Maybe "genomic context evidence"?

How would I go about adding that?

[2017-10-27 22:10] kltm commented on #32
There are a few hard-coded sections in the code that define the categories that are used--you should just be able to add what you need there, assuming that it can be picked up with the closures.

[2017-10-27 22:22] elserj commented on #32
I guess I don't see where the closures are defined.  I could be thinking about this all wrong, but I think somewhere there is something that says "author statement" corresponds to "NAS" and "TAS", or something like that, but I'm not finding a file that describes that.

[2017-10-27 22:30] elserj commented on #32
Or can I just add something like "automatically assigned" to the "our_evidence_of_interest"?

Tried that, but "automatically assigned" doesn't seem to be right.  Maybe it's just another phrase?  Trying to use what I found on the GO evidence code page.

[2017-10-27 22:47] kltm commented on #32
@elserj It must be the exact name used in the (legacy) evidence_type_closure, which is the ECO labels. As for how the GO 3-letter coeds are mapped, for our purposes (as defined in the OWLTools loader in getClassesForGoCode), that currently happens in ECO, where the synonyms have an ECO xref.

[2017-10-27 23:24] elserj commented on #32
Thanks.  Got it with "evidence used in automatic assertion"

[2017-10-27 23:28] #32 closed, assigned to elserj

[2017-10-27 23:29] elserj commented on #32
Note, live site will not be changed to reflect this until release is done.  Some data needs to be reloaded for this to happen and probably shouldn't be done on the live site until the release.

[2017-10-27 23:52] elserj commented on #31
Pretty sure this is complete with commit https://github.com/Planteome/amigo/commit/8ac879dbbe60843c228e036677684fbb48936bb3.

Feel free to reopen if anything else needs to be done.

[2017-10-27 23:52] #31 closed, assigned to cmungall, kltm, jaiswalp, elserj, austinmeier

[2017-11-21 08:27] marieALaporte opened #33 "Alt ID pages"
Shouldn't the alt_id pages redirect to the main term?
Is it a normal behaviour to end up on this page during a search?
http://browser.planteome.org/amigo/term/PO:0006445

[2017-11-21 16:34] elserj commented on #33
I don't think they should.  GO doesn't have them redirect either.  I think the issue with this term in particular is that PO:00006445 is only in the obo/owl files has an alternate id for PO:0000002, so all of the fields on the term page are empty.  I haven't found an older version of the file where it does exist, at least in the last 3 years.  I'll keep looking to see if I can find a version where

[2017-11-21 16:48] elserj commented on #33
Found it.  That one, and several others were all removed in commit https://github.com/Planteome/plant-ontology/commit/e15c804271a291ab8385897ab4607ed24e6ce63a back in 2011.  I would think it was a mistake to remove terms rather than obsolete them, but I'm not sure what the protocol is.

Tagging @cooperl09 for thoughts.

[2017-11-21 17:34] cooperl09 commented on #33
Our practice has always been to obsolete, rather than 'remove' which I interpret to mean 'delete'.
The link to the commit you posted above show a merge, not a deletion or removal the terms.
Back in the OBO-Edit days this was done when two terms needed to be combined. In that case the ID of the term being merged in became the alt ID.  Although there is no definition etc, there is a "replaced by" li

[2017-11-21 17:38] elserj commented on #33
I defer to you guys on what to do, but I thought we left the full term stanza there with just an "is_obsolete" added so that when viewing on the browser, it didn't look so ... empty.

[2017-11-29 23:18] #33 closed, assigned to nobody

[2017-12-07 19:57] cooperl09 opened #34 "Display list of files loaded on Dev or Live"
It would be great if the page http://dev.planteome.org/amigo/load_details showed the actual list of files loaded without @elserj having to manually tweak it. This info is coming from a file in the web directory which is overridden by the catalog file.

Can you tweak the loading script to read the catalog file (https://github.com/Planteome/planteome-core) and display that info on the 'Load Details'

[2017-12-07 19:59] cmungall commented on #34
not sure I understand. The list of ontologies loaded should match what is in the list of ontologies provided plus their import closure. No tweaking should be required

[2017-12-07 20:13] elserj commented on #34
The golr_timestamp.log file only records the purl links, not the actual files that are grabbed via the catalog file.  I have a script that does the loading and uses sed to replace these, but it currently is somewhat hard-coded.  This issue is to generalize my script to use whatever the catalog file is actually loading.

[2017-12-08 01:01] elserj commented on #34
Fixed loading script to use catalog file to replace links instead of hard coded ones.

[2017-12-08 01:01] #34 closed, assigned to elserj

[2018-01-09 19:44] cooperl09 opened #35 "PECO definition source appears twice in the browser, but is not in the file"
See: http://browser.planteome.org/amigo/term/EO:0007359#display-lineage-tab

http://dev.planteome.org/amigo/term/PECO:0007359#display-lineage-tab

Compare to stanza in file:
[Term]
id: PECO:0007359
name: plant experimental condition
alt_id: EO:0007359
def: "A plant treatment (PECO:0001001) and/or study type (PECO:0007231) applied to a whole plant (PO:0000003), a plant structure (PO:00090119), and/

[2018-01-09 19:49] cmungall commented on #35
Hmm, this shouldn't be happening, there is no eo.owl in
https://github.com/Planteome/planteome-core/blob/master/planteome.owl

On 9 Jan 2018, at 11:44, Laurel Cooper wrote:

[2018-01-09 20:58] cmungall commented on #35
oh I see one URL is prod and another dev, I assume the prod one hasn't
been updated since the EO->PECO switch

On 9 Jan 2018, at 11:49, Chris Mungall wrote:

[2018-01-09 21:15] elserj commented on #35
Correct, the actual issue is that the "source" references are there twice ( GR:pj, PO:cooperl, GR:pj, PO:cooperl).  Happens on both dev and live, so the issue is not new, but wasn't noticed before and apparently only happens with peco terms, although I haven't verified this.

[2019-05-02 16:51] elserj opened #36 "Show ontology source (PO, GO, TO) or aspect (T, A, G...) in table for annotations"
Per a request from @jaiswalp, show the ontology source/aspect in the annotations table.

I've figured out how to add the aspect letter, which does match the filter, but it isn't clear what each letter represents.

Check http://dev.planteome.org/amigo/search/annotation

Awaiting feedback from @cooperl09 and @jaiswalp.

[2019-05-02 16:55] cooperl09 commented on #36
I think the letters for the aspects are are ok, they match what's in the filters. Not ideal, but works.
I think the aspect is more informative than just GO, PO would be
We could provide a table somewhere to the actual names?

[2019-05-02 17:29] jaiswalp commented on #36
For viz purposes can you transform the letters to something like
T = Trait
A= anatomy
G= growth
C = Cell part
F = Mol Function
P = Bio Process

[2019-05-02 18:21] elserj commented on #36
As I recall, we tried this before, and it wasn't something I could figure out.  I will give it another try, I have an idea how it might be possible.

@kltm, would it be possible to use a yaml file to accomplish this?  Something like the way the rest of the entries on the table use db-xrefs.yaml to build the links?  That seems to be processed after the data is pulled from solr.  Or do you have anot

[2019-05-02 21:29] kltm commented on #36
@elserj IIRC, if you are talking about the cells in a table, I believe what you're talking about is in conf/handlers.yaml. These list the id of the type to override, the context that is occurs in, and the function to use instead (with the document in question as the argument).

[2019-06-29 01:07] elserj commented on #36
This is done for the results table on http://dev.planteome.org/amigo/search/annotation, please let me know if you want the text changed before I close the ticket. I have it as "Trait" and "Anatomy" for now. Another option may be something like "Trait (T)".

After discussion with Seth, this isn't really possible at this time to change in the filter tables.

[2019-07-09 21:02] #36 closed, assigned to nobody